<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/home.css">
    <title>Home</title>
</head>
<body>
    <header>
        <div>
            <span id="usuario-logado"></span>
        </div>
        <button type="button" onclick="retornarLogin()">Voltar</button>
    </header>
    <br>
    <div><button type="button" id="filtro01">Filtrar Apenas em Estoque</button>
        <h3>Media dos preços: <div id="media"></div>
        </h3>
    </div>
    <div><button type="button" id="emDolar">Dolar</button>

    </div>
    <div id="listaProdutos"></div>

    <script src="../assets/js/home.js"></script>
    <script src="../assets/js/requisicoes.js"></script>
    <script src="../assets/js/funcoes.js"></script>
</body>
</html>