<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/style.css">
    <link rel="stylesheet" href="../assets/css/portfolio.css">
    <title>Document</title>
</head>
<body>
    <div id="info">
        <div>
            <img src="" id="foto">
        </div>
        <div id="nome"></div>
        <div id="seguidores"></div>
    </div>

        <div id="titleNomeRepos">Repositórios públicos GitHub</div>
        <div id="reposName"></div>
        <div id="container">
            <a href=""></a>
        </div>

    <script type="text/javascript" src="../assets/js/githubAPI.js"></script>
</body>
</html>